#about{
	display: none
}
.subnav {
	background-color: #f8f8f8;
	padding: 1% 0;
	ul {
		list-style-type: none;
		color: rgba(21, 21, 21, 0.5); 
		padding: 0;
	}
	li {
		text-align: center;
		cursor: pointer;
	}
}
.yoga-row { 
	h3 {
		text-align: center;
	}
	p {
		text-align: justify;
		padding-top: 2em;
		padding-bottom: 2em;
		font-size: 1.1em;
	}
	button{
		text-align: center;
	}	
}
.classes {
	display: none;
	ul {
		padding: 0;
		list-style-type: none;
	}
	h2 {
		text-align: center;
	}
}
.active-subnav {
	color: #363636;
}

.body-by-sculpt {
	img {
		width: 100%;
	}
}

.faq{
	display: none;
	background-color: wheat;
	h2 {
		text-align: center;
	}
}
.about-head{
	text-align: center;
}
.about-info {
	text-align: center;
	padding-bottom: 50px;
	font-size: 1.1em;
}
.faq-ul {
	list-style-type: none;
	text-align: center;
}
 .topic-ul {
 	text-align: left;
    padding: 0;
    list-style-type: none;
 }
.faq-question {
	font-size: 1.1em;
	color: #AB1C00;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
 .faq-answer {
	display: none;
	font-size: 1.1em;
}

.team {
	display: none;
	text-align: center;
	ul {
		list-style-type: none;
		padding: 0;
	}
	img {
		width: 100%;
	}
}

.studio-details {
	p {
		text-align: justify;
		padding-right: 15px;
		padding-left: 15px;
		font-size: 1.1em;
	}
	.studio-details-yoga {
		padding-right: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.sculpt-box {
	background-color: wheat;
	position: relative;
	height: 430px;
	border: 1px solid black;
	box-sizing: border-box;
	position: relative;
	padding: 0;
	h3 {
		margin: 0;
		padding: 14px 0 14px 0;
		background-color: #AB1C00;
	}
	p {
		padding: 2em 2em 0 2em;
	}
}
.bottom-position {
	position: absolute;
	bottom: 1em;
	width: 100%;
}

//instructors 
.yoga-team {
	display: none;
}

#yoga-class {
	display: none;
}
.ryan {
	color: #AB1C00;
}