#about{
	display: none
}
.faq{
	background-color: wheat;
	h2 {
		text-align: center;
	}
}
.about-head{
	text-align: center;
}
.about-info {
	text-align: center;
}
.faq-ul {
	list-style-type: none;
	text-align: center;
}
 .topic-ul {
 	text-align: left;
    padding: 0;
    list-style-type: none;
 }
.faq-question {
	color: #AB1C00;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
 .faq-answer {
	display: none;
}

.team {
	text-align: center;
	ul {
		list-style-type: none;
		padding: 0;
	}
	img {
		width: 100%;
	}
}