button {
	background-color: #fff;
	border: 0px;
	margin: 0 auto;
	outline: none;
}

.logo {
	width: 60px;
}
li .stop-highlight:hover {
	color: #363636;
}
.menu-trigger {
	display: none;
	text-align: center;
	cursor: pointer;
}
.nav-menu {
	ul {
		list-style-type: none;
		text-align: right; 
		padding-top: 8px;
		padding-bottom: 8px;
	}
	li:first-child{
		position: absolute;
		left: 0px;
		padding-top: 0px;
		margin-top: -5px;
	}
	li:nth-child(2){
		display: none;
	}
	li {

		display: inline;
		padding: 10px;
		font-size: 2em;

		p {
			display: inline
		}
		p:hover {
			color: #363636;
		}
		img:hover + p {   //just wanted to practice with + in SASS
			color: #363636;
		}
	}
	a {
		text-decoration: none;
		color: #363636;
		-webkit-transition: color 0.2s ease-out;
 		-moz-transition: color 0.2s ease-out;
 		-o-transition: color 0.2s ease-out;
 		-ms-transition: color 0.2s ease-out;
 		transition: color 0.2s ease-out;
	}
	a:hover {
		color: #AB1C00;
	}
	// a:active {
	// 	color: #AB1C00;
	// }
}
.active {
	color: #AB1C00;
}