#pricing {
	display: none;
}
#ride-price {
	display: none;
}
#yoga-price {
	display: none;
}
.cycling-prices {
	text-align: center;
	background-color: wheat;
	padding-bottom: 50px;
}
.yoga-prices {
	text-align: center;
	background-color: #ffd;
	padding-bottom: 50px;
}
.pricing-ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
	h2 {
		padding-top: 0;
	}
	a {
		color: white;
    	text-decoration: none;
	}
}
.pricing-ul {
	.yoga-pricing {
	padding-top: 23%;
	}
}
.yoga-price:first-child {
	border-top: 6px solid #AB1C00;
	border-left: 6px solid #AB1C00;
	border-bottom: 6px solid #AB1C00;
	box-sizing: border-box;
}

.yoga-price:last-child {
	border-top: 6px solid #AB1C00;
	border-bottom: 6px solid #AB1C00;
	border-right: 6px solid #AB1C00;
	box-sizing: border-box;
}

.yoga-price:nth-child(2) {
	border-top: 6px solid #AB1C00;
	border-bottom: 6px solid #AB1C00;
}
.yoga-price:nth-child(3){
	border-top: 6px solid #AB1C00;
	border-bottom: 6px solid #AB1C00;
}

.yoga-price {
	border: 3px solid #AB1C00;
	box-sizing: border-box;
	height: 300px;
	background-color: #fff;
	position: relative;

		-webkit-transition: color 0.2s ease-out;
 		-moz-transition: color 0.2s ease-out;
 		-o-transition: color 0.2s ease-out;
 		-ms-transition: color 0.2s ease-out;
 		transition: color 0.2s ease-out;

	&:hover {
		background-color: rgba(255,255,255,0.3); 
		transition: .3s;
	}
}
.pricing-policies {
	text-align: center;
	color: #AB1C00;
	cursor: pointer;
	&:hover{
		text-decoration: underline;
	}
}
.policy {
	h2 {
		text-align: center;
	}
	ul {
		padding: 0;
	}
	li {
		list-style-type: none;
	}
}
.pricing-details {
	display: none;
	list-style-type: square;
}
// .yoga-price:first-child {
// 	background-color: wheat;
// 	border-left: 2px solid #AB1C00;
// 	border-top: 2px solid #AB1C00;
// 	box-sizing: border-box;
// }
.price {
	font-size: 2em;
	color: #AB1C00;
	padding-top: 5%
}

#hide {
	display: none;
}
.test {
	background-color: #AB1C00;
	padding: 1em;
}